{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'admin/images/logo/logo.png' %}" rel="icon">  
  <title>Admin Dashboard</title>
  <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin/css/ruang-admin.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon">
          <img src="{% static 'admin/img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'admin_dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-user"></i>
          
          <span>Farmer Management</span>
        </a>
        <div id="collapseBootstrap" class="collapse show" aria-labelledby="headingBootstrap"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item active" href="{% url 'farmer_details' %}">Farmer Details</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap2"
      aria-expanded="true" aria-controls="collapseBootstrap">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Crop Prediction</span>
    </a>
    <div id="collapseBootstrap2" class="collapse" aria-labelledby="headingBootstrap"
    data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" href="{% url 'upload_dataset' %}">Upload Dataset</a>
      
      <a class="collapse-item" href="{% url 'model_train' %}">Model Training</a>
      <a class="collapse-item" href="{% url 'graph' %}">Graph</a>
    </div>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap3"
  aria-expanded="true" aria-controls="collapseBootstrap">
  <i class="fas fa-comments"></i>
  <span>Feedback Management</span>
</a>
<div id="collapseBootstrap3" class="collapse" aria-labelledby="headingBootstrap"
data-parent="#accordionSidebar">
<div class="bg-white py-2 collapse-inner rounded">
  <a class="collapse-item" href="{% url 'admin_feedback' %}">Feedback</a>
  <a class="collapse-item" href="{% url 'admin_sentiment' %}">Sentiment Analysis</a>
  <a class="collapse-item" href="{% url 'admin_sentiment_graph' %}">Sentiment Graph</a>
</div>
</div>
</li>

<hr class="sidebar-divider">
</ul>

<!-- Sidebar -->
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <!-- TopBar -->
    <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
      <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="{% static 'admin/img/boy.png' %}" style="max-width: 60px">
          <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'adminlogin' %}" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- Topbar -->
  
  <!-- Container Fluid-->
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Farmer Details</h1>
      <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">/ Farmer Details</li>
      </ol>
    </div>
    
    <table class="table table-striped table-hover align-middle mb-0 bg-white m-2">
      <thead class="bg-light">
        <tr>
          <th>Sno.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Location</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in farmer_details %}
        <tr>
          <td class="sno">{{ forloop.counter }}</td>
          <td>
            {{ user.user_name }}
          </td>
          <td>
            <div class="d-flex align-items-center">
              <img src="{{ user.user_profile.url }}" alt="" style="width: 45px; height: 45px"
              class="rounded-circle mr-2" />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ user.user_name }}</p>
                <p class="text-muted mb-0 small">{{ user.user_email }}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">{{ user.user_phone }}</p>
          </td>
          <td>
            <span class="badge badge-primary  d-inline">{{ user.user_location }}</span>
          </td>
          <td>
            <a href="{% url 'view_farmer_details' farmer_id=user.user_id %}" class="btn btn-primary btn-rounded btn-md"
            data-mdb-ripple-color="dark">
            View
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination justify-content-center">
    <ul class="pagination">
      {% for page_num in farmer_details.paginator.page_range %}
      <li class="page-item {% if farmer_details.number == page_num %}active{% endif %}">
        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if messages %}              
  {% for message in messages %}
  {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
  <script>swal({
    title: "Warning!",
    text: "{{message}}",
    icon: "warning",
    button: "OK",
  });
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
  title: "Info :)",
  text: "{{message}}",
  icon: "info",
  button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
  title: "Error :)",
  text: "{{message}}",
  icon: "error",
  button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
  title: "Success :)",
  text: "{{message}}",
  icon: "success",
  button: "OK",
});
</script>
{% endif %}              
{% endfor %} 
{% endif %}




<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
     
    </div>
  </div>
</footer>
<!-- Footer -->
</div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<script src="{% static 'admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'admin/js/ruang-admin.min.js' %}"></script>
<script src="{% static 'admin/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin/js/demo/chart-area-demo.js' %}"></script>  
</body>

</html>