{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'admin/images/logo/logo.png' %}" rel="icon">  
  <title>Admin Dashboard</title>
  <link href="{% static 'admin/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'admin/css/ruang-admin.min.css' %}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon">
          <img src="{% static 'admin/img/logo/logo2.png' %}">
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-user"></i>
          
          <span>Farmer Management</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" href="{% url 'farmer_details' %}">Farmer Details</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap2"
      aria-expanded="true" aria-controls="collapseBootstrap">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Crop Prediction</span>
    </a>
    <div id="collapseBootstrap2" class="collapse" aria-labelledby="headingBootstrap"
    data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <a class="collapse-item" href="{% url 'upload_dataset' %}">Upload Dataset</a>
      
      <a class="collapse-item" href="{% url 'model_train' %}">Model Training</a>
      <a class="collapse-item" href="{% url 'graph' %}">Graph</a>
    </div>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap3"
  aria-expanded="true" aria-controls="collapseBootstrap">
  <i class="fas fa-comments"></i>
  <span>Feedback Management</span>
</a>
<div id="collapseBootstrap3" class="collapse" aria-labelledby="headingBootstrap"
data-parent="#accordionSidebar">
<div class="bg-white py-2 collapse-inner rounded">
  <a class="collapse-item" href="{% url 'admin_feedback' %}">Feedback</a>
  <a class="collapse-item" href="{% url 'admin_sentiment' %}">Sentiment Analysis</a>
  <a class="collapse-item" href="{% url 'admin_sentiment_graph' %}">Sentiment Graph</a>
</div>
</div>
</li>

<hr class="sidebar-divider">
</ul>

<!-- Sidebar -->
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <!-- TopBar -->
    <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
      <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
        <i class="fa fa-bars"></i>
      </button>
      <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="img-profile rounded-circle" src="{% static 'admin/img/boy.png' %}" style="max-width: 60px">
          <span class="ml-2 d-none d-lg-inline text-white small">Admin</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          
          
          <div class="dropdown-divider"></div>
          <a id="logoutLink" class="dropdown-item" href="{% url 'adminlogin' %}">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
          
        </div>
      </li>
    </ul>
  </nav>
  <!-- Topbar -->
  
  <!-- Container Fluid-->
  <div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
      <ol class="breadcrumb">
        <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">/ Dashboard</li>
      </ol>
    </div>
    
    <div class="row mb-3">
      <!-- Earnings (Monthly) Card Example -->
      <!-- For Total Farmers -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col mr-2">
                <div class="text-s font-weight-bold text-uppercase mb-1">Total Farmers:</div>
                <div class="h4 mb-0 font-weight-bold text-gray-800 p-2">{{ total_farmers }}</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span>Since last Week</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-user fa-2x text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- For Total Feedbacks -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-s font-weight-bold text-uppercase mb-1">Total Feedbacks:</div>
                <div class="h4 mb-0 font-weight-bold text-gray-800 p-2">{{ total_feedbacks }}</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span>Since last Week</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-info"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- For 5-Star Ratings -->
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-s font-weight-bold text-uppercase mb-1">5-Star Ratings:</div>
                <div class="h4 mb-0 mr-3 font-weight-bold text-gray-800 p-2">{{ five_star_ratings }}</div>
                <div class="mt-2 mb-0 text-muted text-xs">
                  <span>Since last Week</span>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-star fa-2x text-warning"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Pending Requests Card Example -->
      
    </div>
    <!--Row-->
    <!-- Modal Logout -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a href="admin-login.html" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>
  
</div>
<!---Container Fluid-->
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}              
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
<script>swal({
  title: "Warning!",
  text: "{{message}}",
  icon: "warning",
  button: "OK",
});
</script>

{% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
<script>swal({
  title: "Info :)",
  text: "{{message}}",
  icon: "info",
  button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<script>swal({
  title: "Error :)",
  text: "{{message}}",
  icon: "error",
  button: "OK",
});
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>swal({
  title: "Success :)",
  text: "{{message}}",
  icon: "success",
  button: "OK",
});
</script>
{% endif %}              
{% endfor %} 
{% endif %}


<script>
  document.getElementById('logoutLink').addEventListener('click', function(event) {
    event.preventDefault();
    window.location.href = "{% url 'adminlogin' %}";
  });
  
</script>

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
     
    </div>
  </div>
</footer>
<!-- Footer -->
</div>
</div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>


<script src="{% static 'admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'admin/js/ruang-admin.min.js' %}"></script>
<script src="{% static 'admin/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin/js/demo/chart-area-demo.js' %}"></script>  
</body>

</html>